---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Vitor Lira">
	<!-- <div class="flex flex-1 items-center justify-center">
		About me
	</div> -->
	<canvas class="webgl"></canvas>
	<script>
		import "../scripts/3DText.js"
	</script>
</Layout>
