---
import ThemeToggle from '@/components/ThemeToggle.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="min-h-screen flex items-center justify-center">
		<ThemeToggle />
	</div>
</Layout>
