---
import ThemeToggle from '@/components/ThemeToggle.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex flex-1 items-center justify-center">
		<ThemeToggle />
	</div>
</Layout>
