---
import '../styles/global.css'
import Navbar from '@/components/Navbar.astro'
const { pageTitle } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/vl_favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="min-h-screen overflow-hidden">
		<div class="min-h-screen w-full relative">
			<div
			  class="absolute inset-0 z-0"
			  style={{
				background: "radial-gradient(125% 125% at 50% 100%, #000000 40%, #350136 100%)",
			  }}
			/>
			<div class="relative z-10">
				<!-- <Navbar /> -->
				<slot />
			</div>
		</div>
	</body>
</html>